DATABASE_URL="postgres://axiom:axiom@localhost:5432/axiom_commerce_lab"

NEXT_PUBLIC_APP_NAME="Axiom Commerce Lab"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_API_KEY="dev_axiom_typesense_key"
